body {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.548);
    background-color: white;
  }
  
  h1 {
    text-align: center;
    color: #555;
    font-size: 4em;
  }
  h2 {
    text-align: center;
  }
  
  .center-magenta {
    color: rgb(255, 0, 255);
  }
  
  .index-table {
    width: 50%;
    margin: 0 auto;
    border: 3px solid black;
    padding: 20px;
  }
  
  .schedule-table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid black;
    padding: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"] {
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    margin: auto;
  }
  .tab-button {
    font-family: 'Courier New', Courier, monospace;
    padding: 11px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  .tab-button:hover {
    background-color: rgb(255, 0, 255);
    transform: scale(1.1);
  }
  .tab-button:active {
    background-color: rgb(200, 0, 200);
  }
  .active {
    background-color: rgb(200, 64, 200);
  }
  
  .download-btn {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .download-btn:hover {
    background-color: rgb(255, 0, 255);
  }
  
  .home-icon {
    height: 100px;
    width: 100px;
    position: absolute;
  }
  
  .tab-content {
    display: none;
  }
  
  input[type="time"],
  select,
  textarea {
    width: 100px;
  }
  textarea {
    height: 120px;
    resize: vertical;
  }
  